:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  background-color: #f3f4f6;
  color: #111827;
}

body {
  margin: 0;
  min-height: 100vh;
}
